@charset "utf-8";
/* CSS Document */
body{
	font-family:Georgia, "Times New Roman", Times, serif;margin:0;padding:0;}
#grey{
		height:790px;
	background-color:#eeeeee;
	}
#wrapper{
	  margin-left: auto;
  margin-right: auto;
  }
#white{
		height:730px;
	background-color:#fff;
	}
#bl{
	height:80px;
	background-color:#000;}

#black{
		height:326px;
	background-color:#232525;
	}
.grid_12.top{
	height:50px;}
.grid_12.logo{
	position:relative;
	margin:0 auto;
	text-align:center;}
.grid_12.ul{position:relative;
	margin:0 auto;
	text-align:center;}
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li{
	position:relative;
		
	width: 188px;
	height:63px;
	list-style: none;
	float: left;
	font-size:21px;
	color:#000;
	background-image:url(01.png);
	}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 188px;
	height:48px;
	background: #242724;
	color: #FFF;
	font-size:21px;
	text-align: center;
	text-decoration: none;
	padding-top:10px;
	}

#sddm li a:hover
{	background: #242724;
color:#16ade2;}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #242724;
	border: 1px solid #fff;}

	#sddm div a
	{	position: relative;
	width: 188px;
	height:54px;
		display: block;
		margin: 0;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:14px;	
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		background: #242724;
		color: #fff;
		font: 11px arial}

	#sddm div a:hover
	{	background: #16ade2;
		color: #FFF}
.grid_12.wh{
	height:30px;}	
.grid_4.three{
	font-size:30px;
	text-align:center;
		color:#000;
	font-weight:bold;
	width:315px;
	height:66px;
	background-color:#ebebeb;
		position:relative;
	padding-top:20px;}
.imgg{
	float:left;
	margin: 7px 7px 7px 0;}
.grid_4.wr{
	width:280px;
	height:225px;
	background-color:#f6f6f6;
	position:relative;

	}

.text1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#8b8a8a;
	padding-left:20px;
	}
.hover{
		padding-left:20px;}
.text2{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;
	font-weight:bold;
	}
.text3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#979797;}
.june {
	float:left;
	margin: 7px 7px 7px 0;}
.man{
	float:left;
	margin: 7px 7px 7px 0;}
.view{
	font-style:italic;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#16ade2;
	position:relative;
	float:left;}
.text4{
	font-size:30px;
	font-weight:bold;	}
.left{
	position:relative;
	float:right;}
.text5{
	font-size:36px;
	font-weight:bold;
		}
.text6{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
}
.text7{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:13px;
color:#16ade2;}
.grid_3.foot{
	color:#e0e0e0;
	font-size:24px;
	}
.grid_12.footer{
	height:50px;}
	.grid_12.footer1{
	height:15px;}
.grid_3.line{
	}
	ul{
		font-size:14px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-style:italic;
		color:#8d8d8d;
		line-height:1.5;
		list-style-image:url(13.png);
		position:relative;
		padding-left:20px;
		}
.text9{
	font-size:13px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-style:italic;
		color:#8d8d8d;
		position:relative;
		}
.text8{
	font-weight:bold;
	color:#8d8d8d;
	font-size:14px;
	font-style:italic;}
.text10{font-weight:bold;
	color:#ececec;
	font-size:14px;
	font-weight:bold;
}
.grid_3.connects{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#a1a1a1;
	display:inline;
	padding-top:10px;}
.grid_3.clients{
	padding-top:10px;}
.two{
	position:relative;
	padding-top:-10px;}
.text11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#e3e3e3;
	padding-top:20px;}
.text11 a:hover {
	color:#16ade2;}
.text111 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#e3e3e3;
	position:relative;
	float:right;
	padding-top:20px;}
.text111 a:hover {
	color:#16ade2;}

.text12{
	font-size:14px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-style:italic;
		color:#8d8d8d;
		line-height:1.5;
		text-decoration:none;}
		.rss{
			position:relative;
			float:left;}
		.rss1{
			position:relative;
			float:left;
			padding-top:15px;
			padding-left:10px;}
.grid_8.welcome{
	padding-top:10px;}
.grid_12.ull{
	height:20px;}
.grid_12.wrr{
	height:40px;}
.home{
	display:inline;

	vertical-align:middle;}
.vlinks {
text-align: right;
	padding-top:20px;
	font-size:14px;
}

.vlinks a {
font-color: #e3e3e3;
text-decoration: underline;
}

.vlinks a:hover {
font-color: #16ade2;
}