/*author:cuasia lbneon*/
/*url:www.cuasia.org*/

/*body { background-color: #283137; }*/
body { background-image: url(../img/content-bg.gif); background-repeat: repeat; background-color: #f5f5f5; }
.ca-navi{ background-color: #fff; width: 960px; height: 80px; margin:0 auto; border: 0px solid #000; top: auto; bottom: 0px; }
.ca-navright0{ width: 500px; height: 70px; border: 0px solid #ff0; top: auto; bottom: 0px; }
.ca-navright1{ width: 550px; height: 28px; border: 0px solid #000; vertical-align: middle; }
.ca-navright2{ width: 550px; height: 20px; border: 0px solid #f00; }
.ca-navright3{ width: 120px; height:  6px; border: 0px solid #000; margin-top: 2px; }
.ca-navright4{ width: 400px; height: 80px; border: 0px solid #000; }
.ca-logo{ height: 80px; }
.nav{ background-color: #2980b9; border: 0px; }
.nav a { color: #fff; }
.nav a:hover { color: #2980b9; }
.ca-blue-box{ border: 1px solid #2980b9; padding:2px; }
.ca-caret { border-bottom-color: #fff !important; border-top-color: #fff !important; }
.ca-header { background-image: url(../img/body-bg.gif); background-repeat: repeat; background-color:#fff; width: 960px; height: 10px; margin:0 auto; border: 0px; padding:0; overflow:hidden;  }
.ca-hspace { height: 15px; }
.ca-fspace { min-height: 15px; }
.ca-crl { background-color:#fff; margin-bottom: 0px; overflow:hidden; margin:0; margin: 0px; }
.ca-title-row { border-bottom:1px solid #c9c9c9; }
.ca-title-row a { color: #ccc; }
.ca-title-row a:hover { color: #000; }
.ca-list{ height:200px;border: 0px solid #fff; }
.ca-listi{ height:210px;border: 0px solid #fff; }
.ca-list20{ width:260px; float:left; margin: 2px auto; padding: 5px; }
.ca-list20.middle{ width:260px; float:left; margin: 2px auto; padding: 5px; text-align:center; }
.ca-list60{ border-right:1px solid #c9c9c9; border-left:1px solid #c9c9c9; width:380px; float:left; margin: 2px auto; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px;}
.ca-img-wrap{ padding:0px; margin: 5px; }
.ca-listp{ height:100px; }
/*.cuCarousel { width: 600px; }*/
.carousel img { width: 960px; height: 540px;}
.ca-width960 { width: 960px; margin:0 auto;}
.ca-bottom { background-image: url(../img/body-bg.gif); background-repeat: repeat; color: #fff; min-height: 160px; width: 960px; margin:0 auto; }
.ca-bottom a{ color: #fff; }
.ca-bottom-col1 { width: 200px; float:left; text-align:center; }
.ca-bottom-col2 { width: 150px; float:left;}
.ca-bottom-col3 { width: 400px; float:left;}
.ca-container{ width: 960px; margin:0 auto; }
.ca-contents { background-color: #fdfdfd; width: 960px; height: 1130px; margin: 0 auto; }
.carousel-indicators.middle { left: 0; right 0; top: auto; bottom: 15px; text-align:center;}
.carousel-indicators.middle li { float: none; display: inline-block; }
.ca-gallery-img{ width: 250px; height: 135px; }
.ca-head { color:#000; }
.ca-box-shadow { box-shadow: 0 2px 5px rgba(0,0,0,0.8), inset 0 0 15px rgba(0,0,0,0.8); }

.nav-pills>li>a { -webkit-border-radius:0px; -moz-border-radius: 0px; border-radius:0px; }
.dropdown-menu { margin: 0px 0 0; }
.media { border-bottom: 1px solid #c9c9c9;}

.ca-auto-contents { background-color: #fdfdfd; width: 960px; margin: 0 auto; padding:0px; }
.ca-div-padding { padding:5px; }
.ca-div-margin { margin:5px; }
.ca-pagination { text-align: center; margin: 0 auto; height: 40px; }
.ca-article-title { text-align: center; margin: 0 auto; }
.ca-article-content { margin: 5px auto; }
.ca-list-img-main { text-align: center; margin: 0 auto; height: 530px;}
.ca-list-image { width: 224px; height: 144px; }
.ca-list-img-div { width: 230px; height: 170px; margin: 3px; float: left;}

h4 a { color: #000; }
h4 a:hover { color: #000; }
.media-object{ width:120px; height:120px; }

.ca-header_v4 { background-color:#3498db; width: 960px; height: 10px; margin:0 auto; border: 0px; padding:0; overflow:hidden;  }
.ca-bottom_v4 { background-color:#3498db; color: #fff; height: 50px; width: 960px; margin:0 auto; text-align: center; }
.ca-bottom_v4 a { color: #fff; }
.ca-bottom_v4 a:hover { color: #fff; }
.ca-navright2_v4{ width:100%; height: 20px; border: 0px solid #f00; }
.ca-navright4_v4{ width:100%; border: 0px solid #000; }
.ca-navright5_v4{ width:200px; border: 0px solid #000; margin-top: 10px; }
.ca-logo_v4{ height:70px; }
