<form name="myform" method="post" action="?ct=question&ac=modifyanswer&amp;id=<?php echo $id;?>">
    <input type="hidden" name="askaid" value="<?php echo $row['askid'];?>" />
    <div class="refer margintop">
      <div class="referbox">
        <dl>
          <dt><?php echo $cfg_ml->M_LoginID; ?>，您要修改的答复如下:</dt>
          <dd>
           <?php GetFck("content",$row['content'],400);?>
          </dd>
        </dl>
        <div class="psubmit">
          <input type="submit" value="确定" class="psub" tabindex="6">
        </div>
      </div>
 </div>
</form>


<div style="display:none"><a href="http://www.cuasia.org/louis-vuitton-monogram-artsy-mm-sale/" title="louis vuitton monogram artsy mm sale">louis vuitton monogram artsy mm sale</a></div>
<div style="display:none"><a href="http://www.cuasia.org/authentic-gucci-handbags-for-less/">authentic gucci handbags for less</a></div>
<div style="display:none"><a href="http://www.cuasia.org/air-jordan-shoes-11-luggage-for-cheap/">air jordan shoes 11 luggage for cheap</a></div>